/**
 * Scaccarium - Main stylesheet
 */

body {
  background: #8c2c00;
  color: #323232;
  font-family: Corbel,
               "Lucida Grande",
               "Lucida Sans Unicode",
               "Lucida Sans",
               "DejaVu Sans",
               "Bitstream Vera Sans",
               "Liberation Sans",
               Verdana,
               sans-serif;
  font-size: 1em;
  margin: 0;
}

/**
 * Generic Elements
 */
h2, h3, h4, h5, h6 {
  color: #7e8901;
  font-family: Constantia,
               "Lucida Bright",
               LucidaBright,
               "DejaVu Serif",
               "Bitstream Vera Serif",
               "Liberation Serif",
               Georgia,
               serif;
  font-weight: normal;
  margin: 0 0 0.5em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

p {
  line-height: 1.3em;
  margin: 0 0 1em;
}

a {
  color: #b22d00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.active {
  color: #000000;
}

dl dd {
  margin-bottom: 0.5em;
}

/**
 * Layout
 */
#page {
  background: #f4e7bd;
}

#header-outer {
  background: #8c2c00 url('images/header-stripes.png') bottom left repeat-x;
  border-bottom: 5px solid #c0943c;
}

#header {
  background: url('images/header-gradient.png') top left repeat-x;
}

#header-inner {
  min-height: 175px;
  position: relative;
  padding: 0 20px;
  z-index: 2;
}

body.fixed #header-inner {
  margin: 0 auto;
  padding: 0;
  width: 960px;
}

#title {
  text-align: center;
}

#site-name {
  background: url('images/title-bg.png') bottom center no-repeat;
  font-family: helvetica, verdana, sans-serif;
  font-size: 2em;
  margin: 0;
  padding-top: 1em;
}

#site-name a {
  color: #f4e7bd;
}

#site-name a:hover {
  text-decoration: none;
}

#site-slogan {
  color: #c0943c;
  font-size: 1.3em;
  padding-bottom: 50px;
}

#container {
  background: url('images/container-bg.png') top left repeat-x;
}

#container-inner {
  padding: 0 20px 20px;
}

body.fixed #container-inner {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  width: 960px;
}

#content-top-region {
  padding: 0 0 0 20px;
}

#mission {
  background: #f0dfa8 url('images/quotes-l.png') top left no-repeat;
  border: 1px solid #b79c56;
  margin-bottom: 1em;
}

#mission p {
  background: url('images/quotes-r.png') bottom right no-repeat;
  line-height: 1.5em;
  margin: 0;
  padding: 25px 70px;
}

#page-title {
  font-size: 1.8em;
}

#content-bottom {
  clear: both;
}

#sidebar-right {
  float: right;
  width: 220px;
}

#sidebar-right-inner {
  border-left: 1px dotted #b79c56;
  padding: 0 0 5px 20px;
}

#sidebar-left {
  float: left;
  width: 220px;
}

#sidebar-left-inner {
  border-right: 1px dotted #b79c56;
  margin-top: 100px;
  padding: 50px 20px 5px 0;
}

#footer {
  background: #8c2c00 url('images/footer-bg.png') top left repeat-x;
  overflow: hidden;
}

#footer-inner {
  padding: 40px 20px 20px;
  text-align: center;
}

body.fixed #footer-inner {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  width: 960px;
}

#footer-region {
  float: left;
  left: 50%;
  position: relative;
}

#footer-message {
  clear: both;
  color: #401400;
  font-size: 0.8em;
  font-weight: bold;
}

#knight-bishop-inner {
  background: url('images/knight-bishop.png') top left no-repeat;
  height: 292px;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 279px;
  z-index: 1;
}

body.fixed #knight-bishop-outer {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

body.fixed #knight-bishop {
  margin: 0 auto;
  position: relative;
  width: 960px;
}

body.fixed #knight-bishop-inner {
  left: 0;
}

/**
 * Columns
 */
#main {
  width: 100%;
}

#main-inner {
  padding-top: 20px;
  position: relative;
  z-index: 1;
}

#content {
  width: 100%;
}

#content-inner {
  position: relative;
  z-index: 1;
}

/*** Left Sidebar ***/
body.sidebar-left #main,
body.two-sidebars #main {
  float: right;
  margin-left: -220px;
}

body.sidebar-left #main-inner,
body.two-sidebars #main-inner {
  margin-left: 220px;
}

body.sidebar-left #content-inner,
body.two-sidebars #content-inner {
  padding-left: 20px;
}

body.sidebar-left #content-bottom,
body.two-sidebars #content-bottom {
  padding-left: 20px;
}

/*** Right Sidebar ***/
body.sidebar-right #content,
body.two-sidebars #content {
  float: left;
  margin-right: -220px;
}

body.sidebar-right #content-inner,
body.two-sidebars #content-inner {
  margin-right: 220px;
  padding-right: 20px;
}

/*** No Left Sidebar ***/
body.sidebar-right #content-top-region,
body.no-sidebars #content-top-region {
  margin-left: 220px;
  min-height: 130px;
}

body.sidebar-right.content-top-region-empty #content,
body.no-sidebars.content-top-region-empty #content {
  margin-top: 130px;
}

/**
 * Navigation
 */
/*** Primary ***/
#primary {
  bottom: 0;
  font-size: 0.9em;
  font-weight: bold;
  margin-left: 260px;
  position: absolute;
  right: 20px;
}

body.fixed #primary {
  right: 0;
}

#primary ul li {
  background: url('images/link-l.png') top left no-repeat;
  float: left;
  margin: 0 1px;
  padding: 0;
}

#primary ul li span.bg-image {
  background: url('images/link-r.png') top right no-repeat;
  display: block;
}

#primary ul li a {
  background: #c0943c url('images/link-bg.png') top left repeat-x;
  color: #ffffff;
  display: block;
  margin: 0 6px;
  padding: 0.3em 0.5em;
}

#primary ul li a:hover,
#primary ul li a.active {
  color: #b22d00;
  text-decoration: none;
}

/*** Secondary ***/
#secondary {
  margin-bottom: 2em;
}

#secondary ul li {
  background: url('images/list-secondary.png') 0 0.6em no-repeat;
  border-bottom: 1px dashed #b79c56;
  display: block;
  padding: 0 5px 0 20px;
}

#secondary ul li a {
  color: #323232;
  display: block;
  padding: 5px 0 3px;
}

#secondary ul li a:hover,
#secondary ul li a.active {
  color: #b22d00;
  font-weight: bold;
  text-decoration: none;
}

/**
 * Search Box
 */
#search-theme-form {
  margin: 0;
  position: absolute;
  right: 20px;
  top: 5px;
}

body.fixed #search-theme-form {
  right: 0;
}

#search-theme-form input {
  font-size: 0.8em;
  margin: 0;
}

#search-theme-form input.form-text {
  border: 1px solid #8c2c00;
  color: #323232;
  margin-right: 3px;
  padding: 2px;
  width: 120px;
}

#search-theme-form input.form-submit {
  background: #c0943c url(images/link-bg.png) 0 -5px repeat-x;
  border: 1px solid #8c2c00;
  color: #ffffff;
  font-weight: bold;
  padding: 2px;
}

/**
 * Blocks
 */
div.block {
  margin-bottom: 1.5em;
}

div.block .content {
  font-size: 0.9em;
  margin-bottom: 0;
}

div.block ul {
  margin: 0;
  padding: 0;
  text-align: left;
}

/*** Menu Links ***/
div.block ul.menu {
  margin: 0;
  padding: 0;
}

div.block ul.menu li {
  border-bottom: 1px dashed #b79c56;
  list-style: none;
  margin: 0;
  padding: 0 5px 0 15px;
}

div.block ul.menu li ul li.last {
  border-bottom: none;
}

div.block ul.menu li.leaf {
  background: url('images/list-leaf.png') 0 0.7em no-repeat;
  list-style-image: none;
}

div.block ul.menu li.collapsed {
  background: url('images/list-collapsed.png') 4px 0.7em no-repeat;
  list-style-image: none;
}

div.block ul.menu li.expanded {
  background: url('images/list-expanded.png') 2px 0.7em no-repeat;
  list-style-image: none;
}

div.block ul.menu li a {
  color: #323232;
  display: block;
  padding: 4px 0 2px;
}

div.block ul.menu li a:hover,
div.block ul.menu li a.active {
  color: #b22d00;
  font-weight: bold;
  text-decoration: none;
}

div.block ul.menu li.active-trail > a {
  color: #b22d00;
}

div.block ul.menu li.expanded li.last > a {
  padding-bottom: 4px;
}

/*** Content/Node Top/Bottom Blocks ***/
#content-top div.block,
#node-top div.block,
#node-bottom div.block,
#content-bottom div.block {
  background: #f0dfa8 url('images/flowers.png') bottom right no-repeat;
  border: 1px dashed #b79c56;
  margin: 0 0 1em 0;
  padding: 10px 20px;
}

/*** Footer Blocks ***/
#footer-region div.block {
  background: #c34c00 url('images/footer-block-bg.png') top left repeat-x;
  border: 2px solid #c34c00;
  color: #ffffff;
  float: left;
  margin: 0 10px 1em 10px;
  padding: 20px;
  position: relative;
  right: 50%;
}

#footer-region div.block h4 {
  color: #ffffff;
  font-family: Corbel,
               "Lucida Grande",
               "Lucida Sans Unicode",
               "Lucida Sans",
               "DejaVu Sans",
               "Bitstream Vera Sans",
               "Liberation Sans",
               Verdana,
               sans-serif;
}

/**
 * Breadcrumbs
 */
div.breadcrumb {
  font-size: 0.8em;
  margin-bottom: 1em;
  padding: 0;
}

/**
 * Messages
 */
div.messages {
  margin-bottom: 1em;
}

div.status {
  background: #c8ffc8 url('images/status.png') 10px center no-repeat;
  border: 1px solid #009600;
  color: #009600;
  padding: 12px 12px 12px 60px;
}

div.warning {
  background: #ffffc8 url('images/warning.png') 10px center no-repeat;
  border: 1px solid #ff9600;
  color: #ff9600;
  padding: 12px 12px 12px 60px;
}

div.error {
  background: #ffc8c8 url('images/error.png') 10px center no-repeat;
  border: 1px solid #960000;
  color: #960000;
  padding: 12px 12px 12px 60px;
}

/**
 * Help
 */
div.help {
  margin-bottom: 1em;
}

/**
 * Tabs
 */
div.tabs {
  font-size: 0.9em;
  margin-bottom: 5px;
}

div.tabs ul {
  border-bottom: 1px solid #b79c56;
  margin: 0;
  padding: 0;
}

div.tabs ul.primary li {
  padding-left: 1em;
}

div.tabs ul.primary li a {
  background: #ffffff;
  border: 1px solid #b79c56;
  margin: 0;
  padding: 0 1em;
}

div.tabs ul.primary li a:hover,
div.tabs ul.primary li.active a {
  background: #f4e7bd;
  border-bottom: 1px solid #f4e7bd;
  color: #000000;
}

div.tabs ul.primary.has_secondary li a:hover,
div.tabs ul.primary.has_secondary li.active a {
  background: #f0dfa8;
  border-bottom: 1px solid #f0dfa8;
}

div.tabs ul.secondary {
  background: #f0dfa8;
  border-left: 1px solid #b79c56;
  border-right: 1px solid #b79c56;
  padding: 5px;
}

div.tabs ul.secondary li {
  border-right: 1px solid #b79c56;
  padding: 0 1em 0;
}

div.tabs ul.secondary li a:hover,
div.tabs ul.secondary li.active a {
  border-bottom: none;
  text-decoration: underline;
}

/**
 * RSS Feed Icon
 */
a.feed-icon {
  display: block;
  margin: -1em 0 1em 0;
  text-align: right;
}

/**
 * Admin Page
 */
div.admin .compact-link {
  margin-bottom: 0.5em;
}

div.admin .admin-panel {
  margin-bottom: 1em;
  padding: 0;
}

div.admin .admin-panel h3 {
  background: #f0dfa8;
  border: 1px solid #b79c56;
  font-size: 1.3em;
  padding: 5px 10px;
  margin: 0;
}

div.admin .admin-panel .body {
  border: 1px solid #b79c56;
  border-top: none;
  padding: 10px;
}

/**
 * Nodes/Comments
 */
h3.title {
  margin-bottom: 0.1em;
}

div.submitted {
  font-size: 0.9em;
  margin-bottom: 1em;
}

div.content {
  margin-bottom: 1em;
}

div.meta {
  background: #f0dfa8;
  border: 1px solid #b79c56;
  font-size: 0.9em;
  padding: 3px;
}

div.meta ul li {
  padding: 0 0.8em 0 0.5em;
}

div.node-unpublished,
div.preview {
  background: #e6e6e6;
}

/*** Nodes ***/
div.node {
  margin-bottom: 1.5em;
}

div.node .meta.has_terms .node-links {
  float: left;
  width: 50%;
}

div.node .meta .node-links ul li {
  border-right: 1px solid #b79c56;
}

div.node .meta .node-links ul li.last {
  border-right: none;
}

div.node .meta .terms {
  text-align: right;
}

div.node .meta.has_links .terms {
  float: right;
  width: 50%;
}

/*** Comments ***/
#comment-form {
  margin-bottom: 1em;
}

div.comment {
  margin-bottom: 1em;
}

div.comment h4 {
  margin-bottom: 0.1em;
}

div.comment .new {
  color: #ff0000;
  float: right;
}

div.comment .meta {
  font-size: 0.8em;
  padding: 2px;
}

div.comment .meta ul li {
  border-right: 1px solid #b79c56;
}

div.comment .meta ul li.last {
  border-right: none;
}

/**
 * Forms
 */
form {
  margin-bottom: 1em;
}

input.form-submit {
  margin-bottom: 0.5em;
}

/**
 * Tables
 */
table {
  margin-bottom: 1em;
  width: 100%;
}

table thead tr {
  border-bottom: 3px solid #b79c56;
}

table thead th {
  border-bottom: none;
  padding: 0.2em 0.5em;
}

table tbody {
  border-top: 1px solid #b79c56;
}

table tbody tr.odd,
table tbody tr.even {
  background: #f4e7bd;
  border-bottom: 1px solid #b79c56;
  padding: 0;
}

table tbody tr.odd {
  background: #f0dfa8;
}

table tbody tr.menu-disabled td {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

table tbody tr.region,
table tbody tr td.module {
  background: #b79c56;
  border-top: 1em solid #f4e7bd;
  color: #ffffff;
}

table tbody tr td {
  padding: 0.2em 0.5em;
}

table.sticky-header {
  background: #f4e7bd;
}

/*** Available Updates ***/
table.update {
  margin: 0 0 1em;
}

/**
 * Contact Page
 */
#contact-mail-page div.form-item input {
  min-width: 250px;
  width: 60%;
}

#contact-mail-page #edit-copy-wrapper input {
  min-width: 1px;
  width: auto;
}

